<p class="h2 text-dark page-title">記事一覧</p>

<% @articles.each do |article| %>
  <div class="card card-article">
    <div class="card-header card-article-header">
      No <%= article.id%>
      <%=link_to article.title,article_path(id: article.id), class: "card-article-title"  %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= article.content%></p>



      <%= link_to goods_path(user_id: article.user.id, article_id: article.id), method: :post do%>
        <i class="fas fa-thumbs-up"></i>
        <%= article.goods.count if article.goods.count > 0 %>
      <% end%>

    </div>
  </div>
<% end %>
