<p class="h2 text-dark page-title">記事一覧</p>

<% @articles.each do |article| %>
  <div class="card card-article">
    <div class="card-header card-article-header">
      No <%= article.id%>
      <%=link_to article.title,article_path(id: article.id), class: "card-article-title"  %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= article.content%></p>
      <% if do_thumb_up?(article.goods) %>
        <%= form_with(model: current_user.goods.find_by(article_id: article.id),
                      html: { method: :delete }, remote: true) do |f| %>
            <%= f.button :type => "submit", class: "ungood-btn" do %>
              <i class="fas fa-thumbs-up fa-fw"></i>
           <% end %>
        <% end %>
      <% else %>
        <%= form_with(model: current_user.goods.build, remote: true) do |f| %>
          <div><%= hidden_field_tag :article_id, article.id %></div>
          <%= f.button :type => "submit", class: "good-btn" do %>
            <i class="far fa-thumbs-up fa-fw"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
