<% good = current_user.article_goods.find_by(article_id: article.id)%>

<div id="ungood-<%= article.id %>">
  <%= form_with(model: good,
                url: article_good_path(id: good.id ),
                method: :delete,
                remote: true
      ) do |f| %>
    <%= hidden_field_tag :article_id, article.id %>
    <%= f.button :type => "submit", class: "ungood-btn" do %>
      <i class="fas fa-thumbs-up fa-fw"></i>
    <% end %>
    <%=  article.goods.count %>
  <% end %>
</div>