<h1>投稿</h1>

<%= form_with(model: @article, url: articles_path, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div>
    <%= f.label :title%>
    <%= f.text_field :title%>
</div>

<div>
    <%= f.label :content%>
    <%= f.text_field :content%>
</div>

<div class="btn">
    <%= f.submit "Submit" %>
</div>

<% end %>