<div class="container-fluid">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-5 offset-md-1">

      <div class="card">
        <div class="card-header">
          プロフィール
        </div>
        <div class="card-body">
          <%= form_with(model: @user, local: true) do |f| %>
            <div class="user_image">
              <% if @user.picture? %>
                <%= image_tag @user.picture.url %>
              <% else %>
                <%= image_tag "default.png",:size => '80x80' %>
              <% end %>
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
            </div>
            <p>ユーザー名: <%= f.text_field :name %></p>
            <%= f.submit "更新", class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

