<div class="container-fluid">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-5 offset-md-1">

      <div class="card">
        <div class="card-header">
          プロフィール
        </div>
        <div class="card-body">
          <div class="user_image">
            <% if @user.picture? %>
              <%= image_tag("icon.png") %>
            <% else %>
              <%= image_tag("default.png",:size => '80x80') %>
            <% end %>
          </div>
          <p>ユーザー名: <%= @user.name%></p>
          <p>投稿数: <%= @user.articles.count %></p>
          <p>開始日: <%= format_time(@user.created_at) %></p>
          <%= link_to edit_user_path(current_user.id) do %>
            <div class="btn btn-success">編集</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render 'shared/articles' %>
    </div>
  </div>
</div>

