<div id="ungood-<%= comment.id %>">
  <%= form_with(url: comment_good_path(comment_id: comment.id, id: current_user.comment_goods.find_by(comment_id: comment.id).id),
                method: :delete,
                remote: true
      ) do |f| %>
    <%= hidden_field_tag :comment_id, comment.id %>
    <%= f.button :type => "submit", class: "ungood-btn" do %>
      <i class="fas fa-thumbs-up fa-fw"></i>
    <% end %>
    <%= comment.good_count %>
  <% end %>
</div>